
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 85px;
    margin-top: 30px;
  }

img {
    width: 100%;
    max-width: 400px;
    height: 200px;
    object-fit: scale-down;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 25px;
    background: #ffffff;
}

label {
    margin: 20px;
}

h2 {
    margin-left: 20px;
}
  
  @media (max-width: 1000px) {
    .products-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  